<header class="bg-dark text-white p-4">
    <div class="container">
    <div class="row align-items-center">
        <div class="col-4 text-start">
        <button (click)="goBack()" class="btn btn-outline-light btn-sm">⬅ Atrás</button>
        </div>
        <div class="col-4 text-center">
        <h1 class="h4 m-0">Jump Consultorías</h1>
        </div>
        <div class="col-4 text-end">
        <nav>
            <a routerLink="/home" class="text-white mx-1">Inicio</a>
            <a routerLink="/galeria" class="text-white mx-1">Galería</a>
            <a routerLink="/nosotros" class="text-white mx-1">Nosotros</a>
        </nav>
        </div>
    </div>
    </div>
</header>

<main class="container mt-4">
    <h2>Explora nuestros servicios</h2>
    <div class="row">
    <div *ngFor="let img of imagenes" class="col-md-4 mb-4">
        <div class="card h-100">
        <img [src]="img.src" class="card-img-top" [alt]="img.titulo" />
        <div class="card-body">
            <h5 class="card-title">{{ img.titulo }}</h5>
            <a [routerLink]="['/detalle', img.id]" class="btn btn-primary">Ver más</a>
        </div>
        </div>
    </div>
    </div>
</main>
