<p>consultorias works!</p>
<div class="container mt-4">
    <h2 class="text-primary">Gestión de Consultorías</h2>
    <p>En esta sección podrás ver las reservas y administrar las consultorías agendadas.</p>

    <ul class="list-group mt-3">
    <li class="list-group-item">
        <strong>Cliente:</strong> Laura Pérez | <strong>Servicio:</strong> Marketing | <strong>Fecha:</strong> 10/10/2025
    </li>
    <li class="list-group-item">
        <strong>Cliente:</strong> Juan Gómez | <strong>Servicio:</strong> Contabilidad | <strong>Fecha:</strong> 12/10/2025
    </li>
    </ul>
</div>
